{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": 11,
          "android": 4
        },
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-async-to-generator"
  ]
}
